<!-- Interface onde o usuário poderá preecher o campo código para que possa fazer uma busca do produto posteriormente-->
<!DOCTYPE html>
<html>
<head>
	<title>Lilith Store</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Martel&family=Maven+Pro:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<header>
		<div class="container">
			<div class="logo"></div><!-- logo -->
			<div class="container2">
				<div class="input-busca">
					<input type="text" name="barra-pesquisa" placeholder="O que deseja encontrar?">
				</div><!-- barra de pesquisa -->
				<div class="btn-pesquisar">
					<input type="button" name="pesquisar">
				</div><!-- botão pesquisar -->
				<div class="carrinho">
					<input type="button" name="carrinho">	
				</div><!-- carrinho de compra -->
				<div class="usuario">
					<a href="../controller/alterar-dados-cliente.php"></a>
				</div><!-- menu usuario -->
				<div class="nome-usuario">
					<p>Olá, </p>
					<p>seja bem-vindo!</p>
				</div>
			</div>

			<div class="clear"></div>
		</div><!-- container -->
	</header><!-- cabeçalho -->

	<section class="menu-principal">
		<div class="container-menu">
			<div class="menu-hamburguer">
				<button class="menu-button"></button>
				<div class="dropdown-menu">
					<p>Operações administrativas</p>
					<a href="gerenciar-produtos.html">Gerenciar produtos</a>
				</div>
			</div>
			<nav class="menu">
				<ul>
					<li><a href="../controller/feminino-produtos.php">Feminino</a></li>
					<li><a href="../controller/masculino-produtos.php">Masculino</a></li>
					<li><a href="../controller/calcado-produtos.php">Calçados</a></li>
					<li><a href="../controller/acessorio-produtos.php">Acessórios</a></li>
				</ul>
			</nav>
		</div>
	</section><!-- menu -->

	<div class="titulo-pagina">
		<h1>Buscar produto(calçado)</h1>
	</div>

	<section class="card-pesquisa-codigo">
		<div class="container">
			<h2>Informe o código do produto</h2>
			<form method="POST" action="..\controller\buscar-calcado.php">
				<input type="text" name="codigo" autocomplete="off" required><br>
				<input type="submit" name="pesquisar" value="Pesquisar">				
			</form>
		</div>
	</section>
</body>
</html>