<!DOCTYPE html>
<html>
<head>
	<title>Lilith Store</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Martel&family=Maven+Pro:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=K2D&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="container">
			<div class="logo"></div><!-- logo -->
			<div class="container2">
				<div class="input-busca">
					<input type="text" name="barra-pesquisa" placeholder="O que deseja encontrar?">
				</div><!-- barra de pesquisa -->
				<div class="btn-pesquisar">
					<input type="button" name="pesquisar">
				</div><!-- botão pesquisar -->
				<div class="carrinho">
					<input type="button" name="carrinho">	
				</div><!-- carrinho de compra -->
				<div class="usuario">
					<a href="login.html"></a>
				</div><!-- menu usuario -->
				<div class="nome-usuario">
					<a href="login.html">Faça seu login</a>
					<br>ou
					<a href="cadastro.html">cadastre-se</a>
				</div>
			</div>

			<div class="clear"></div>
		</div><!-- container -->
	</header><!-- cabeçalho -->

	<section class="menu-principal">
		<div class="container-menu">
			<!--<div class="menu-hamburguer">
				<button class="menu-button"></button>
				<div class="dropdown-menu">
					<p>Operações administrativas</p>
					<a href="gerenciar-produtos.html">Gerenciar produtos</a>
				</div>
			</div>-->
			<nav class="menu">
				<ul>
					<li><a href="">Feminino</a></li>
					<li><a href="">Masculino</a></li>
					<li><a href="">Calçados</a></li>
					<li><a href="">Acessórios</a></li>
				</ul>
			</nav>
		</div>
	</section><!-- menu -->

	<div class="titulo-pagina">
		<h1>Cadastrar nova conta</h1>
	</div>

	<section class="card-cadastro">
		<div class="container">
			<p>Preencha todos os campos para realizar seu cadastro!</p>

			<form action="..\controller\cadastro.php" method="POST">
				<div class="inputs1">
					<label for="nome">Nome completo</label>
					<input type="text" name="nome" maxlength="80" required>
					<label for="email">E-mail</label>
					<input type="e-mail" name="email" maxlength="50" required>
					<label for="confirma-email">Confirme seu e-mail</label>
					<input type="e-mail" name="email" maxlength="50" required>
					<label for="senha">Senha</label>
					<input type="password" name="senha" maxlength="20" required>
					<label for="cpf">CPF</label>
					<input type="text" name="cpf" maxlength="11" required>				
				</div>

				<div class="inputs2">
					<label for="rua">Rua</label>
					<input type="text" name="rua" maxlength="80" required>
					<label for="bairro">Bairro</label>
					<input type="text" name="bairro" maxlength="80" required>
					<label for="numero">Número</label>
					<input type="number" name="numero" maxlength="15" size="15" required>				
				</div>

				<div class="inputs3">
					<label for="cidade">Cidade</label>
					<input type="text" name="cidade" maxlength="50" required>
					<label for="estado">Estado</label>
					<input list="estados" name="estado" maxlength="2" id="estado" required>
						<datalist id="estados">
						  	<option value="MG">
						    <option value="SP">
						    <option value="RJ">
						    <option value="ES">
						</datalist>				
				</div>

				<a href="login.html">Já possui uma conta?Entre!</a>
				<input type="submit" name="finalizar" value="Finalizar">				
			</form>

		</div>

		<div class="clear"></div>
	</section><!-- form cadastro -->

	<footer style="background-color: #181818; padding: 30px 2%;">
		<h4 style="text-align: center; font-family: font-family: 'Maven Pro', sans-serif; color: #545454;">designed by Emanuelle Herran</h4>
	</footer>
</body>
</html>